#currencies-block-top {
  float: left;
  margin-right:10px;
  line-height:50px;
  position: relative;
  z-index:9;}
  @media (max-width: 767px) {
    #currencies-block-top {
      display: inline-block;
      float:none;
      } }
  #currencies-block-top span.firstWord {
    display: none; }
  #currencies-block-top span {color:#fff; font-size:12px;}
   #currencies-block-top span.cur-label {font-size:14px;}
  #currencies-block-top div.current {
    font-weight: bold;
    padding: 5px 5px 5px 10px;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    line-height: 18px;
    display: inline-block;
    border-radius: 5px;
    background: #474E58}
    @media (max-width: 479px) {
      #currencies-block-top div.current {
        text-align: center;
        padding: 9px 5px 10px;
        font-size: 11px; } }
    #currencies-block-top div.current strong {
      color: #fff; font-weight:normal; }
    #currencies-block-top div.current:hover, #currencies-block-top div.current.active {
      background: #474E58; }
    #currencies-block-top div.current:after {
      content: "\f0d7";
      font-family: "FontAwesome";
      font-size: 12px;
      line-height: 18px;
      color: #fff;
      vertical-align: 0px;
      padding-left: 5px; }
      @media (max-width: 479px) {
        #currencies-block-top div.current:after {
          padding-left: 2px;
          font-size: 13px;
          line-height: 13px;
          vertical-align: 0; } }
    @media (max-width: 479px) {
      #currencies-block-top div.current .cur-label {
        display: none; } }
  #currencies-block-top ul li:first-child {border-top-right-radius: 5px; border-top-left-radius: 5px;}
  #currencies-block-top ul li:first-child a{border-top-right-radius: 5px; border-top-left-radius: 5px;}
  #currencies-block-top ul li:last-child {border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
  #currencies-block-top ul li:last-child a {border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
  #currencies-block-top ul {
    display: none;
    position: absolute;
    top: 43px;
    right: 0;
    width: 55px;
    background: #474E58;
    z-index: 2;
    border-radius: 5px;}
    #currencies-block-top ul li {
      color: white;
      line-height: 30px;
      font-size: 12px; }
      #currencies-block-top ul li a,
      #currencies-block-top ul li > span {
        padding: 0 10px 0 12px;
        display: block;
        color: white; }
      #currencies-block-top ul li.selected, #currencies-block-top ul li:hover a {
        background: #626871; }
